body{
	margin: 0px;
	color: #efefef;
	font-family: 'Microsoft YaHei';
}

#contextmenu {
	background:#29a7e2;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}
#contextmenu li {
	width:90px;
	list-style :none;
	text-align:center;
	position:relative;
}
#contextmenu li a {
	display: block;
	padding: 5px;
	text-aligh:center;
	text-decoration:none;
	line-height:20px;
	cursor: pointer;
	color: #FFFFFF;
}

#contextmenu li a:hover {
	background: #58BBEF;
	font-weight:bold;
}

#contextmenu li ul{
	display:none;
	position: absolute;
	text-aligh:center;
	background:#29a7e2;
	width:auto;
	left:90px;
	top:0px;
}
#contextmenu li:hover ul{
	display:block;
}

#nodemenu {
	background:#29a7e2;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	height:160px;/* 25px */
}

#nodemenu li{
	list-style:none;
	text-align:center;
	position:relative;
}
#nodemenu li a {
	display: block;
	padding: 5px;
	cursor: pointer;
	color: #FFFFFF;
}

#nodemenu li a:hover {
	background: #58BBEF;
	font-weight:bold;
}
#nodemenu li ul{
	display:none;
	position: absolute;
	width:60px;
	background:#29a7e2;
	left:80px;
	top:0px;
}
#nodemenu li:hover ul{
	display:block;
}
#linkmenu {
	border: 1px solid #29a7e2;
	border-bottom: 0;
	background: #29a7e2;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}

#linkmenu li a {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #29a7e2;
	cursor: pointer;
	color: #FFFFFF;
}

#linkmenu li a:hover {
	background: #0066CC;
}

.yz-menuBtn .l-btn-left .m-btn-downarrow {
	display: none;
}
.tabs-panels .datagrid-wrap{
	border-top-color:#f9f9f9;
}
.datagrid td{
	height:24;
}
.tabs-panels{
	overflow:auto;
}
.center{
	margin-top:5%;
	margin-left:25%;
}
.center .textbox{
	width:120px;
}
#setTopoAttrDialog tr{
	position:relative;
}
#setTopoAttrDialog tr td{
	position:relative;
}
#setTopoAttrDialog tr td:nth-child(2){
	width:200px;
}
 
.tableLabel{
	position:absolute;
	right:0px;
	top:8px;
	height:auto;
	width:150;
	color:#000;
	text-align:right;
	margin-right:0px;
}

/** 容器菜单样式start **/
#containermenu {
	background:#29a7e2;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}
#containermenu li {
	width:90px;
	list-style :none;
	text-align:center;
	position:relative;
}
#containermenu li a {
	display: block;
	padding: 5px;
	text-aligh:center;
	text-decoration:none;
	line-height:20px;
	cursor: pointer;
	color: #FFFFFF;
}

#containermenu li a:hover {
	background: #58BBEF;
	font-weight:bold;
}

#containermenu li ul{
	display:none;
	position: absolute;
	text-aligh:center;
	background:#29a7e2;
	width:auto;
	left:90px;
	top:0px;
}
#containermenu li:hover ul{
	display:block;
}
/** 容器菜单样式end **/