body{text-align:left;color:#444;font-size:14px;font-family:"microsoft yahei";}
img{border:0}
*{margin:0;padding:0}
ul{list-style:none}
.header_l img{height:65px;margin-top:10px}
select,input,img,select{vertical-align:middle}
a{text-decoration:none;cursor:pointer;color:#000;font-weight:normal;}
a:hover{color:#0f91ed}

.rides-css { font-size: 15px; background:#29a7e2; position: fixed; top:80px; right: 0px; _position: absolute; z-index: 1500; border-radius:16px 0px 0 16px;}
.rides-css a { color: #00A0E9;}
.rides-css a:hover { color: #ff8100;font-weight:bold; text-decoration: none;}
.rides-css .floatL { width: 36px; float:left; position: relative; z-index:1;margin-top: 21px;height: 181px;}
.rides-css .floatL a { font-size:0; text-indent: -999em; display: block;}
.rides-css .floatR { width: 130px; float: right;  overflow:hidden;}
.rides-css .floatR .cn {background:#29a7e2; border-radius:6px;}
.rides-css .cn .titZx{ font-size: 14px; color: #333;font-weight:600; line-height:24px;padding:0px;text-align:center;}
.rides-css .cn ul {padding:0px;}
.rides-css .cn ul li {line-height: 30px; height:30px;overflow: hidden;text-align:center;}
.rides-css .cn ul li ul {position: absolute;right: 110px;display: none;background:#29a7e2;}
.rides-css .cn ul li ul {width:80px;}
.rides-css .cn ul li ul li a{display: block;text-decoration: none;padding: 5px;}
.rides-css .cn li:hover ul, li.over ul { display: block; }
.rides-css .cn ul li a{color: #FFFFFF;}
.rides-css .cn ul li img { vertical-align: middle;}
.rides-css .btnOpen, .rides-css .btnCtn {  position: relative; z-index:9; top:-15px;background-image: url(../img/shopnc.png); background-repeat: no-repeat; display:block; height: 30px; padding: 5px;}
.rides-css .btnOpen { background-position: -317px 0;}
.rides-css .btnCtn { background-position: -355px 0;}
.rides-css ul li.top { border-bottom: solid #ACE5F9 1px;}
.rides-css ul li.bot { border-bottom: none;}

* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }